body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 auto;
}
body:has(input:checked) {
  background-color: darkblue;
}
input:checked + div#contenedor {
  color: white;
  background-color: darkblue;
}
div#contenedor {
  background-color: gray;
}
.parrafo {
  color: gray;
  line-height: 1.5em;
}
#Part1 {
  font-size: 20px;
}
h1 {
  margin-top: 0;
  color: firebrick;
  font-size: 40px;
}
div#contenedor {
  font-family: 'Courier New', Courier, monospace;
}
div#contenedor p {
  color: red;
}
div#contenedor p {
  color: green;
}
